* {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.calendar-wrap {
  width: 282px;
  margin: 20px auto;
}

.calendar-wrap .control-wrap {
  width: 100%;
  padding: 10px 0 0;
  line-height: 30px;
  text-align: center;
}
.calendar-wrap .control-wrap .select-wrap {
  display: inline-block;
  vertical-align: top;
  width: 90px;
  height: 30px;
}
.calendar-wrap .control-wrap .select-wrap.select-mon-wrap {
  width: 50px;
  margin-left: 10px;
}
.calendar-wrap .control-wrap .select-wrap label {
  line-height: 30px;
  font-size: 16px;
}
.calendar-wrap .control-wrap .select-wrap select {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.calendar-wrap .calendar-show {
  width: 100%;
  margin: 10px auto 0;
  border: 1px solid #eee;
  border-radius: 4px;
}

.calendar-wrap .calendar-show .line-wrap,
.calendar-wrap .calendar-show .line-list-wrap {
  width: 100%;
  font-size: 0;
}
.calendar-wrap .calendar-show .line-wrap {
  border-bottom: 1px solid #eee;
}

.calendar-wrap .calendar-show .line-wrap .item,
.calendar-wrap .calendar-show .line-list-wrap .item {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
}

.calendar-show .line-list-wrap .item.active {
  z-index: 0;
  position: relative;
  color: #fff;
}
.calendar-show .line-list-wrap .item.active::before {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4a9cfa;
}

.calendar-wrap .calendar-show .calender-title-wrap {
  position: relative;
  width: 100%;
  line-height: 30px;
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  user-select: none;
}

.calendar-wrap .calendar-show .calender-title-wrap span[class^="calender"] {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  font-size: 16px;
  color: #222;
}

.calendar-wrap .calendar-show .calender-title-wrap span[class^="calender"] + span[class^="calender"] {
  margin-left: 5px;
}

.calendar-wrap .calendar-show .calender-title-wrap .next-month,
.calendar-wrap .calendar-show .calender-title-wrap .pre-month {
  position: absolute;
  top: 2.5px;
  text-align: center;
  font-size: 0;
  color: #fff;
  cursor: pointer;
  line-height: 0;
}
.calendar-wrap .calendar-show .calender-title-wrap .pre-month {
  left: 5px;
}
.calendar-wrap .calendar-show .calender-title-wrap .next-month {
  right: 5px;
}
.calendar-wrap .calendar-show .calender-title-wrap .next-month>span,
.calendar-wrap .calendar-show .calender-title-wrap .pre-month>span {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #4a9cfa;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
}